<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"/>
    <listeners>
        <listener class-name="utilities.ExtentListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" thread-count="2"
          name="test" parallel="classes">
       <classes>
            <class name="testscripts.WebTableTest"/>
            <class name="testscripts.AlertsPageTest"/>
        </classes>

    </test>
</suite>